{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=CafeDeBarrio;User Id=sa;Password=REEMPLAZAR_CON_TU_PASSWORD_SA_LOCAL;TrustServerCertificate=True;"
  },
  "Seed": {
    "AdminPassword": "REEMPLAZAR_ANTES_DEL_PRIMER_ARRANQUE"
  }
}
