<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl"         value="https://AQUI_IP_DEL_SERVIDOR:7240" />
    <add key="AcceptSelfSigned"   value="true" />
    <add key="PrintTicket"      value="true" />
  </appSettings>
</configuration>
